@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eef1f5;
}

.container{
    width: 850px;
    height: 520px;
    background: white;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #d1d5db;
}

.left{
    width: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left form{
    width: 100%;
    text-align: center;
}

.left h2{
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: bold;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.redes-sociales ion-icon{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
}

.container-input{
    width: 100%;
    height: 44px;
    margin: 10px 0;
    padding: 0 15px;
    background: #eee;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-input input{
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
}

a{
    font-size: 14px;
    display: block;
    margin: 10px 0;
}

.button{
    width: 160px;
    height: 45px;
    background: #324ea8;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
}

.error{
    color: red;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    display: none;
}

/* ===== PANEL DERECHO ===== */
.right{
    width: 50%;
    background: #33b197;
    color: white;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right h3{
    font-size: 36px;
    margin-bottom: 15px;
}

.right p{
    width: 80%;
    font-size: 15px;
    margin-bottom: 30px;
}

.button-outline{
    width: 160px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

